[submodule "meta"]
	path = meta
	url = git://github.com/amylum/pkgforge-helper
[submodule "vendor/github.com/hashicorp/terraform"]
	path = vendor/github.com/hashicorp/terraform
	url = git://github.com/hashicorp/terraform
